body {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

/* header style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff(240, 250, 251, 0.926);
  padding: 2rem 1em;
  background-color: #82898D;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

h1 {
  color: white;
  margin-bottom: 0;
}

/* navigation style */
.navbar-nav {
  flex-direction: column;
}

.navbar-nav .nav-link.active {
  color: white;
}

/* main content style*/
main {
  padding-left: 2rem;
  box-sizing: border-box;
  flex-direction: column;
}

section {
  padding: 1em;
}

/* filter style */
.filter p {
  font-size: 1.1em;
  padding-top: .2rem;
  margin-bottom: .2rem;
}

.body-container {
  display: flex;
}

.btn-light {
  display: none;
}

/* card style */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 280px;
  background-color: white;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card img {
  max-height: 140px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto;
}

/* card detail style */
.detail-image-size {
  max-width: 400px;
}

/* footer style */
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: left;
}

/* post style */
.post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#post-title,
#post-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* budget page style */
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

label {
  font-weight: bold;
}

input, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.details-container {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}
.storyimage {
  width: 100%;
  height: 65vh;
}
.travelcard {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 2px solid black; */
  border-radius: 8px;
  color: black;
  background-color: whitesmoke;
  
}
.cardh {
  justify-content: center;
  
}
/* Responsive styles */
@media (max-width: 768px) {
  .btn-light {
    display: none;
  }

  .body-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

}

/* @media (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff(240, 250, 251, 0.926);
    padding: 2rem 1em;
    background-image: url("../img/city.jpg");
  }

} */
